[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "communication"]
	path = communication
	url = https://github.com/christopherlucas/communication
